<ion-view view-title="instagram">
    <ion-content>
        <div class="padding">
            <div class="row responsive-md">
                <div class="col-offset-25 col-25 respon-log">
                    <div class="item-image img-slide-insta">
                        <img src="../img/phone.png" />
                    </div>
                </div>
                <div class="col-25 respon-log">
                    <div class="card">
                        <div class="padding bor-out">
                            <div class="item-image logo">
                                <img src="img/logo.png" alt="" title="" />
                            </div>
                            <div class="form-login">
                                <div class="list">
                                    <label class="item item-input">
                                        <input type="text" placeholder="Username">
                                    </label>
                                    <label class="item item-input">
                                        <input type="text" placeholder="Password">
                                        <a href="" title="" class="forgot-pass">Forgot?</a>
                                    </label>
                                </div>
                                <button class="button button-block button-positive">
                                    Log in
                                </button>
                            </div>
                            <p><span>OR</span></p>
                            <a id="fb-log" href="" title="">Log in with Facebook</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="padding sign-up-link">
                            <p>Don't have an account? <a href="" title="">Sign up</a></p>
                        </div>
                    </div>

                    <div class="get-app">
                        <p>Get the app</p>
                        <a href="" title=""><img src="../img/appstore.png" /></a>
                        <a href="" title=""><img src="../img/gplay.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>