<ion-view>
    <ks-swiper-container swiper="swiper" override-parameters="{'slidesPerView': '3'}" id="slide-resize">
        <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
            <ion-content>
                <div class="padding">
                    <div class="cover">
                        <div class="item-text-wrap">
                            <div class="row responsive-sm">
                                <div class="col-20">
                                    <div class="item-image">
                                        <img src="/img/avatar.jpg" />
                                    </div>
                                </div>
                                <div class="col-80 info-text">
                                    <h1>LÊ KHÁNH THÔNG</h1>
                                    <div class="list">
                                        <div class="item item-icon-left">
                                            <i class="icon ion-ios-telephone"></i>
                                            <p>21 tuổi</p>
                                        </div>
                                        <div class="item item-icon-left">
                                            <i class="icon ion-ios-location"></i>
                                            <p>New York</p>
                                        </div>
                                        <div class="item item-icon-left">
                                            <i class="icon ion-ios-world-outline"></i>
                                            <p>Đại học Ngoại Thương</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="care">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="text-bor-left">
                                    <i class="icon ion-person"></i>
                                    <h3 class="title-bold">QUAN TÂM</h3>
                                </div>
                                <div class="care-list">
                                    <button ng-click="applyThis()"
                                            class="button margin-top-5 button-outline button-positive button-clicked" ng-style="color">
                                        Thu ngân
                                    </button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-bor-left">
                                    <i class="icon ion-ios-briefcase"></i>
                                    <h3 class="title-bold">KINH NGHIỆM LÀM VIỆC</h3>
                                </div>
                                <div class="list experince">
                                    <div class="item">
                                        <div class="company">
                                            <p>Company Name</p>
                                            <i class="icon ion-ios-arrow-right"></i>
                                            <p>Position Title</p>
                                        </div>
                                        <span>2014-2017</span>
                                    </div>
                                    <div class="item">
                                        <div class="company">
                                            <p>Company Name</p>
                                            <i class="icon ion-ios-arrow-right"></i>
                                            <p>Position Title</p>
                                        </div>
                                        <span>2014-2017</span>
                                    </div>
                                    <div class="item">
                                        <div class="company">
                                            <p>Company Name</p>
                                            <i class="icon ion-ios-arrow-right"></i>
                                            <p>Position Title</p>
                                        </div>
                                        <span>2014-2017</span>
                                    </div>
                                    <div class="item">
                                        <div class="company">
                                            <p>Company Name</p>
                                            <i class="icon ion-ios-arrow-right"></i>
                                            <p>Position Title</p>
                                        </div>
                                        <span>2014-2017</span>
                                    </div>
                                    <div class="item">
                                        <div class="company">
                                            <p>Company Name</p>
                                            <i class="icon ion-ios-arrow-right"></i>
                                            <p>Position Title</p>
                                        </div>
                                        <span>2014-2017</span>
                                    </div>
                                    <div class="item">
                                        <div class="company">
                                            <p>Company Name</p>
                                            <i class="icon ion-ios-arrow-right"></i>
                                            <p>Position Title</p>
                                        </div>
                                        <span>2014-2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hide-user">
                    <button class="button button-light button-block">TUYỂN ỨNG VIÊN</button>
                    <button class="button button-assertive button-block">ẨN</button>
                </div>
            </ion-content>
        </ks-swiper-slide>
    </ks-swiper-container>
</ion-view>